<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recommended Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        .card:hover {
            cursor: pointer;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
    </style> 
</head>
  <body>
    <div class="container">
      <div class="nav-scroller py-1 mb-3 border-bottom">
        <nav class="nav nav-underline justify-content-between">
          <a class="nav-item nav-link link-body-emphasis active" href="{%url 'homepage' %}">Home</a>
          <a class="nav-item nav-link link-body-emphasis" href="{%url 'trending' %}">Trending</a>
          <a class="nav-item nav-link link-body-emphasis" href="{%url 'categories' %}">Categories</a>
          <a class="nav-item nav-link link-body-emphasis" href="{%url 'groupsitem' %}">Recommendation</a>
          <a class="nav-item nav-link link-body-emphasis" href="{%url 'recommendation' %}">Recommendation2</a>
          <a class="nav-item nav-link link-body-emphasis" href="{%url 'product_names' %}">Products</a>
          <a class="nav-item nav-link link-body-emphasis" href="{%url 'recommendation_page' %}">Recommendation3</a>
          <a class="nav-item nav-link link-body-emphasis" href="{%url 'collaborativebased' %}">Recommendation4</a>
        </nav>
      </div>
        <div class="image" style="text-align: center; margin-top: 25px;">
        <img src="https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074076.jpg?size=626&ext=jpg&ga=GA1.2.172547392.1689766463&semt=ais" alt="wait" width="500px">
    </div>
        <h2 style="text-align: center;">Search your product name here</h2>

    <form action="" method="post">
        {% csrf_token %}
    <div class="input-group mb-3 mx-2">
        <input type="text" name="abc" class="form-control" placeholder="Enter your product name"  aria-describedby="button-addon2">
        <button class="btn btn-primary" type="submit" id="button-addon2">Click</button>
      </div>
    </form>

    {% if combined_data %}
    <div class="row" style="padding: 2px;">
        {% for item in combined_data %}
        <div class="col-md-3 my-10 py-10">
          <div class="card" style="margin-bottom: 10px;">
            <img src={{item.1}} class="card-img-top" alt="..." width="100px" >
            <div class="card-body">
              <p class="card-text" style="text-align: center;">{{item.0}}</p>
              <!-- Add more card contents as per your DataFrame columns -->
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endif %}


</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>